.HorizontalGrid {
    margin-bottom: 64px;
}

.HorizontalGrid__top .title-and-description {
    display: inline-block;
}

.HorizontalGrid__top .previous-next-chevrons {
    float: right;
}

.HorizontalGrid__top .previous-next-chevrons .chevron-left {
    margin-right: 16px;
}

.HorizontalGrid__images {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}