.CollectionCarousel {
    background-color: #eee;
}

.CollectionCarousel__item__content {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 32px;
    padding: 32px 32px 64px 32px;
    align-items: center;
}

.CollectionCarousel__images {
    display: grid;
    grid-template-columns: repeat(2, 256px);
    grid-template-rows: repeat(2, 256px);
    justify-content: right;
    gap: 16px;
}

@media (max-width: 820px) {
    .CollectionCarousel__images {
        grid-template-columns: repeat(2, 128px);
        grid-template-rows: repeat(2, 128px);
    }
}

.CollectionCarousel__images .grid-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.CollectionCarousel__caption {
    color: white;
}

.CollectionCarousel__caption .collection-label {
    font-weight: bold;
    opacity: 0.7;
}

.CollectionCarousel__caption h3 {
    margin-bottom: 16px;
}

.CollectionCarousel__caption span {
    margin-bottom: 16px;
    opacity: 0.7;
}

.CollectionCarousel__item:nth-child(1) {
    background-color: #780000;
}

.CollectionCarousel__item:nth-child(2) {
    background-color: #c1121f;
}

.CollectionCarousel__item:nth-child(3) {
    background-color: #ff6d00;
}

.CollectionCarousel__item:nth-child(4) {
    background-color: #003049;
}

.CollectionCarousel__item:nth-child(5) {
    background-color: #669bbc;
}
