.Image img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    position: static;
    z-index: 0;   
}

.Image .grip-button {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
}

.Image .Image__buttons {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.download-button,
.grip-button,
.like-button {
    color: white;
}

.download-button:hover,
.grip-button:hover,
.like-button:hover {
    color: #dddddd;
}

.Image {
    position: relative;
    flex: 0 0 auto;
    margin-right: 32px;
}