.Image img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    position: static;
    z-index: 0;
    transition: opacity 0.5s ease;
}

.Image:hover img {
    opacity: 0.7;
}

.Image .grip-button {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: grab !important;
}

.Image .Image__buttons {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.download-button,
.grip-button,
.like-button {
    color: white;
}

.grip-button:hover {
    color: white;
}

.download-button:hover,
.like-button:hover {
    color: #dddddd;
}

.Image {
    position: relative;
    flex: 0 0 auto;
    margin-right: 32px;
    background-color: black;
}

