.Image img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    position: static;
    z-index: 0;   
}

.Image .Image__buttons {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.Image {
    position: relative;
    flex: 0 0 auto;
    margin-right: 32px;
}